autopep8==2.3.2
certifi==2025.4.26
charset-normalizer==3.4.2
freetype-py==2.5.1
glfw==2.9.0
hsluv==5.0.4
idna==3.10
jpype1==1.5.2
kiwisolver==1.4.8
line_profiler==4.2.0
numpy==2.2.6
packaging==25.0
py5==0.10.6a0
pybind11==2.13.6
pycodestyle==2.13.0
PyOpenGL==3.1.6
PyOpenGL-accelerate==3.1.7
requests==2.32.3
skia-python==87.8
stackprinter==0.2.12
tomli==2.2.1
urllib3==2.4.0
vispy==0.10.0
